/* Footer.css */

/* Estilo do Footer */
.footer {
    background-color: #dbadbe; /* Rosa bebê */
    color: #302f2f;
    padding: 50px 0; /* Padding para espaçamento */
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px; /* Espaço entre o conteúdo e o rodapé */
    border-top: 3px solid #e5a8b8; /* Borda superior para o footer */
  }
  
  /* Links do Footer */
  .footer-links {
    display: flex;
    justify-content: space-between; /* Espaço entre as colunas */
    width: 80%;
    max-width: 1100px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  
  .footer-links-column {
    width: 200px;
    margin: 0 20px;
  }
  
  .footer-links h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333; /* Título das seções com a cor padrão */
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #2e040f; /* Cor rosa clara para os links */
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #000000; /* Cor escura no hover */
  }
  
  /* Seção de Redes Sociais */
  .footer-social {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .footer-social a {
    color: #333; /* Cor escura para os ícones de redes sociais */
    font-size: 1.5rem;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #e5a8b8; /* Rosa suave no hover */
  }
  
  /* Rodapé Inferior */
  .footer-bottom {
    font-size: 0.85rem;
    color: #555; /* Cor de texto mais suave para a parte inferior */
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .footer-links {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .footer-links-column {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .footer-links h3 {
      font-size: 1.2rem;
    }
  
    .footer-social {
      margin-top: 20px;
    }
  
    .footer-social a {
      font-size: 1.2rem;
    }
  }
  